:global {
    .CodeMirror {
        position: relative;
        .lint-line-error {
            background-color: #FBE3E4;
        }
    }
}

.lintEditorButton {
    z-index: 2;
    position: absolute;
    background-color: rgba(229, 233,235,0.8);
    border: 1px solid #D2D4DB;
    border-radius: 3px;
    height: 36px;
    width: 80px;
    right: 20px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.5px;

    &::before {
        opacity: 0.5;
        display: inline-block;
        line-height: 35px;
        margin-right: 5px;
    }

    &:hover {
        background-color: rgba(229, 233, 235, 0.5);
        &::before {
            opacity: 1;
        }
    }
}

.lintButton {
    composes: lintEditorButton;
    top: 20px;

    &::before {
        content: '✓';
    }
}

.lintButtonSuccess {
    background-color: #BCD183;
    border: 1px solid #D2D4DB;
    &::before {
        opacity: 1;
    }
}

.clearButton {
    composes: lintEditorButton;
    bottom: 20px;
    z-index: 3;

    &::before {
        content: '♻';
    }
}

.lintNotifier {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 10px;
    z-index: 3;
    left: 40px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-out;
    background: #FBE3E4;
    color: #D12F19;
    border: 1px solid #FBC2C4;
    padding: 0.8em;
    max-width: calc(100% - 120px);

    &:not(:empty) {
        opacity: 1;
        pointer-events: auto;
    }
}

.sizeBlock {
    position: absolute;
    bottom: 60px;
    right: 20px;
    color: #999;
    width: 80px;
    text-align: center;
}
