.app {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    min-height: 400px;
    background: #fafbfc;
    body[data-fullscreen="on"] & {
        position: fixed;
        height: calc(100% - 60px);
        width: 100%;
        top: 60px;
        left: 0;
        z-index: 1;
    }
}


.settings {
    position: absolute;
    right: 0;

    select {
        height: 38px;
        border: 1px solid #e1e1e1;
        border-radius: 2px;
        font-size: 11px;
        padding: 0 10px;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        height: 34px;

        option {
            font-weight: normal;
            text-transform: none;
        }

        &:focus {
            border-color: #d0d0d0;
            outline: none;
        }
    }
}

.saveButton {
    margin-left: 10px;

    &::before {
        content: attr(data-save-text);
    }

    &:disabled::before {
        content: attr(data-saved-text);
    }
}

.fullscreenButton {
    margin-left: 10px;
    background: #3498DB;
    color: #fff;
    border: 1px solid #3498DB;
    font-weight: 700;

    &:hover {
        background: #555;
        color: #fff
    }
}

.loader {
    position: fixed;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    pointer-events: none;
    z-index: 10;
    color: #aaa;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 2rem;
    opacity: 0.8;
}

.loaderBracketLeft, .loaderBracketRight {
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loaderBracketRight {
    animation-delay: 0.4s;
}

@keyframes pulse {
    to {
        transform: scale(1.5);
        opacity: 0.5;
    }
}

.error {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 45%;
    z-index: 4;
    width: 60%;
    left: 20%;
    opacity: 0;
    transition: opacity .5s ease-out;
    background: #FBE3E4;
    color: #D12F19;
    border: 1px solid #FBC2C4;
    padding: 0.8em;

    &:not(:empty) {
        opacity: 1;
        pointer-events: auto;
    }
}
