.diffTab {
    composes: flexTab from "../tab.css";

    :global {
        .CodeMirror-merge {
            width: 100%;
            position: absolute;
        }

        .CodeMirror-merge, .CodeMirror-merge-pane {
            height: 100%!important;
        }
    }
}

.flexContent {
    composes: flexContent from "../tab.css";
}
