.batchItem {
    position: relative;
    border-bottom: 1px solid #e1e1e1;

    &:last-child {
        border-bottom: none;
    }
}

.deleteButton {
    composes: lintEditorButton from "../../../../../linteditor/style.css";
    position: absolute;
    bottom: 90px;
    z-index: 3;

    &::before {
        content: '✕';
    }
}
