.simpleTab {
    composes: flexTab from "../tab.css";
}

.flexContent {
    composes: flexContent from "../tab.css";

    :global {
        .CodeMirror {
            position: absolute;
        }
    }
}
